@import "tailwindcss";

@layer base {
  body {
    background-color: #090d0a;
    color: #f4f1eb;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: #c5a880;
    color: #090d0a;
  }
}
